[submodule "themes/hexo-theme-temp-2"]
	path = themes/hexo-theme-temp-2
	url = git@github.com:szw0407/hexo-theme-temp-2.git
[submodule "source/_posts"]
	path = source/_posts
	url = git@github.com:szw0407/blog-content.git
